@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--mocha: #6F4E37;
	--cream: #FEF8F2;
}

html {
	background-color: var(--cream);
	--line-color: var(--mocha);
}
html.dark {
	background-color: var(--mocha);
	--line-color: var(--cream);
}